/dataloaders/fliped.png
/dataloaders/gray_test.png
/dataloaders/norm_gray_test.png
/dataloaders/test.png
/datasets/cvprw2020_sky_seg/
/demo/ResNet50FCN_beijing1_jupiter_all.mp4
/demo/ResNet50FCN_c12fde1c-2994-11eb-93b1-3d50a84c6f73test_jupiter_all.mp4
/demo/ResNet50FCN_canyon_jupiter_all.mp4
/demo/ResNetFPN_beijing1_jupiter_all.mp4
/demo/ResNetFPN_canyon_jupiter_all.mp4
/demo/UNet_9cc30150-2992-11eb-bb98-a93bbef2a6ebtest_floatingcastle_all.mp4
/demo/UNet_annarbor_floatingcastle_all.mp4
/demo/UNet_beijing1_jupiter_all.mp4
/demo/UNet_beijing1_jupiter_all_.mp4
/demo/UNet_beijing2_jupiter_all.mp4
/demo/UNet_beijing3_jupiter_all.mp4
/demo/UNet_beijing3_jupiter_magic-cat.mp4
/demo/UNet_beijing4_jupiter_all.mp4
/demo/UNet_canyon_jupiter_all.mp4
/eval_output/Unet/
/eval_output/ResNetFPN/
/test_images/
/test_scripts/
/test_videos/beijing1.mp4
/test_videos/beijing2.mp4
/test_videos/beijing3.mp4
/test_videos/beijing4.mp4
/test_videos/canyon.mp4
/test_videos/feae-0a3a-46ba-832c-3ff733d667bb
/test_videos/test1.mp4
/test_videos/test2.mp4
/test_videos/test3.mp4
/test_videos/test4.mp4
/test_videos/test5.mp4
/test_videos/test6.mp4
/test_videos/test7.mp4
/test_videos/test8.mp4
/test_videos/test9.mp4
/test_videos/test10.mp4
